body{

    background-image: url(sleepy\ cat.png);
    background-size: contain;
    height: 800px;
    width: 700px;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0px;

}
nav{
    background-color: burlywood;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px;
    font-style: normal;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    
    text-align: center;
}
#life{
    font-size: 85px;
    text-transform: uppercase;
    height: 500px;
    width: 100px;
    text-align: center;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    display: block;
    font-weight: 100;
    color:gray;
    opacity: 1;
    position: fixed;
    margin-top: 0px;
}

img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin-left: 500px;
    position: fixed;

    
}
#login {
    margin-left: 970px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 50px;
    height: 500px;
    width: 500px;
    border-radius: 10%;
    border: 20px;
    opacity: .6;
    font-weight: 900;
    size: 70px;
    background-image: url(CAT\ LOGIN.png);
    background-size: cover;
    background-repeat: no-repeat;
    position: fixed;
    

}
#email{
    border-radius: 10%;
    border-color: azure;
    font-family:cursive;

}
p{
    font-family: cursive;
    size: 40px;

}
#password {
    border-radius: 10%;
    border-color: azure;
}
#forgot{
    font-family: cursive;
    margin-left: 50px;
}
button{
    font-family: cursive;
    border: 20%;
    text-align: center;
    
}